
[common_config]
# for API
# mosaic 1, gaussian 2
deidentified_type=2

draw_box=False
show_identity=False
result_savefile=False
detect_save_library=False
warped_save=False
init_device_force_cpu = False

[person_config]
### Detection_yolo
gpu_num=0
data = ./SNU_PersonDetection/data/PRW.yaml
data_dir = /data/jaep0805/PersonReID/datasets/PRW_yolo/test/images

detection_weight_file = ./weights/detection.pt
output_dir=inference_result
detect_save_dir = detect

#session Parameters
infer_imsize_same=False
detect_save_images = True
detect_imgsz = 640

conf_thres = 0.3
iou_thres = 0.3


[reid_config]
### ReID_CTL
# JH Todo
reid_weight_file = ./weights/119_last.pth
reid_save_dir = ReID
backbone_name = resnet50
backbone_path = ./weights/resnet50-19c8e357.pth
gallery_path = /data/jaep0805/PersonReID/datasets/example/bounding_box_test
query_path = /data/jaep0805/PersonReID/datasets/example/query
normalize_features = True
scale = 1